<p>Good day <%= @booking.user.name %>!</p>

<p>
  Congratulations, your booking request has been accepted!
</p>

<p>
  <u>Booking details</u><br>
  <strong>Frequency</strong>: <%= @booking.frequency.humanize %><br>
  <strong>Start Date</strong>: <%= @booking.start_at %><br>
  <strong>rate</strong>: $<%= @booking.rate %><br>
</p>

<p>
  Sincerely,<br/>
  Helping Pixies Team
</p>
