<p>Hello There!</p>

<p>We hope this message finds you well! This is a friendly reminder from HelpingPixies about your upcoming cleaning appointment.</p>

<p><strong>Appointment Details:</strong><br>
  Date: <%= @converted_booking_time.strftime("%A, %d %B %Y") %><br>
  Time: <%= @converted_booking_time.strftime("%I:%M %p") %><br>

<p>We encourage both our users and cleaners to confirm their availability and any specific requirements or instructions for the cleaning session.</p>

<p>Should you have any questions or need to make any changes to your appointment, please do not hesitate to contact us. We are here to ensure a smooth and satisfactory experience for everyone involved.</p>

<p>Thank you for choosing HelpingPixies for your cleaning needs. We are looking forward to providing you with an excellent service experience!</p>

<p>Best regards,<br>
  Helping Pixies Team<br>
</p>